@model AuthorWorld.DTOs.DTOs.AuthorDTO

<form method="post" asp-action="Save">
    @Html.AntiForgeryToken()
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            @{ 
                 var process = Model.Id > 0 ? "Update" : "Add";
                <h2 class="text-info pl-3">@process Author</h2>
            }
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PhoneNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="@process" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>
@if (Model.Id != 0)
{
    <div class="BookContainer">
    @Html.Partial("~/Views/Book/GetBooks.cshtml", new AddEditBookViewModel { Books = Model.Books, AuthorId = Model.Id})
    </div>
}

@section Scripts{

    @{
                        <partial name="_ValidationScriptsPartial" /> }

}